// -- COLORS
YELLOW                      = #e6db74
QUOJS                       = #ffcc05
WHITE                       = #fff
DEVICE                      = #222222

COLOR                       = darken(YELLOW, 50%)
BACKGROUND                  = YELLOW
THEME                       = #222222

// -- SIZES
BORDER_RADIUS               = .25rem
U                           = 4rem
SPACE                       = (U / 3.5)


// -- FONT
FONT_SIZE_SMALL             = 75%
FONT_SIZE_NORMAL            = 16px
FONT_SIZE_BIG               = 150%

FONT_WEIGHT_THIN            = lighter
FONT_WEIGHT_BOLD            = bold

// -- ANIMATION_DURATION
ANIMATION_DURATION          = 450ms
ANIMATION_EASE              = cubic-bezier(.55,0,.1,1)
